<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <link rel="stylesheet"  href="loginscreen.css"> 
    <link rel="stylesheet"  href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Neonderthaw&family=Rock+Salt&display=swap" >
</head>

<body>

    <main class="login"> 
        
        <main class="headings">
            <h2>Hey Bull!</h2>
        </main>   

    <main>
        <form method="get" action="departments.html">
            <label for="name">Username</label>
            <input type="text" id="netidbox" name="name" placeholder="Enter your NetID" required maxlength="14"><br><br>
            <label for="name">Password</label>
            <input type="text" id="netidbox" name="password" placeholder="Enter your password" required maxlength="14"><br><br>
            <input type="submit" id="loginsubmit" value="Log In">
        </form>
        <div>
        <p style="display:inline-block">Don't have an account?</p><a href="register.html" style="display:inline-block" >Register</a>
        </div>
    </main>
   


</body>

</html>
