<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FizzBuzz</title>
    <link rel="stylesheet"  href="loginscreen.css"> 
    <link rel="stylesheet"  href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Neonderthaw&family=Rock+Salt&display=swap" >
</head>

<body>

    <main class="login"> 
        
        <main class="headings">
            <h2>Register!</h2>
        </main>   

    <main>
        <form method="get" action="departments.html">
            <input type="text" id="netidbox" name="name" placeholder="Enter your full name" required maxlength="14"><br><br>
            <input type="text" id="netidbox" name="name" placeholder="Enter your full name" required maxlength="14"><br><br>
            <input type="text" id="netidbox" name="name" placeholder="Enter your NetID" required maxlength="14"><br><br>
            <input type="text" id="netidbox" name="password" placeholder="Create your password" required maxlength="14"><br><br>
            <a href="departments.html"><input type="submit" id="loginsubmit" value="Register"></a>
        </form>
       
    </main>
   


</body>

</html>
