<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Shadows+Into+Light&display=swap" >
  </head>

<style>
    body{
       
      background-image: url("https://cutewallpaper.org/22/usf-wallpapers/348314128.jpg");
  height: 100%;
  width: 100%;
  background-size: 100%;
      }
    

    .header{
        padding: 40px;
    }

    .title{
        padding: 5px;
    }

    .btn{
      border-color: black;
      color:rgb(225, 226, 226);
      font-family:"Shadows Into Light", cursive; 
      font-size: 30px;
    }

    .btn:hover{
      background-color:rgb(54, 109, 97);
      border-color: black;
    }
    li:hover{
      background-color: rgb(54, 109, 97);
    }
</style>


<body >
  <nav class="navbar navbar-expand-lg " style="background-color: black;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="background-color:rgb(54, 109, 97); color: rgb(141, 137, 137); padding-left: 5px;padding-right: 5px;">BULL'S YARD</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/" style="color: rgb(141, 137, 137)">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="departments.html" style="color: rgb(141, 137, 137)">Departments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="engineering.html" style="color: rgb(141, 137, 137)">Majors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="courses.html" style="color: rgb(141, 137, 137)">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="professors.html" style="color: rgb(141, 137, 137)">Professors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="tutors.html" style="color: rgb(141, 137, 137)">Tutors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="clubs.html" style="color: rgb(141, 137, 137)">Clubs</a>
          </li>
          
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
    

    <div class="header" >
        <h2 class="text-center title"  style="margin-bottom: 40px; color: rgb(0, 0, 0) ;font-family: Shadows Into Light, cursive; font-weight: 800;">What do you want to explore?</h2>

        <a href="courses.html">
          <button type="button" class="btn btn-outline-info" style="width: 250px; height: 180px;">Courses</button>
        </a>
        <a href="clubs.html">
        <button type="button" class="btn btn-outline-info" style="width: 250px; height: 180px;">Clubs</button>
        </a>
        <a href="professors.html">
        <button type="button" class="btn btn-outline-info" style="width: 250px; height: 180px;">Professors</button>
        </a>
        <a href="tutors.html">
        <button type="button" class="btn btn-outline-info" style="width: 250px; height: 180px;">Tutors</button>
        </a>
        <a href="resources.html">
          <button type="button" class="btn btn-outline-info" style="width: 250px; height: 180px;">Resources</button>
          </a>
        
    </div>
</body>

</html>