<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" rel="stylesheet">
</head>

<style>
  body{

background-color: rgb(31, 28, 28);
}

    .title{
        padding: 5px;
    }

    img{
        width: 75px;
        border-radius: 50px;
        display: inline-block;
        margin: 5px;
        height: 75px;
    }
    
    .description{
        margin: 3px;
    }

    .tutor-description{
        margin: 50px 0;
    }
    
    
    .content{
        display: inline-block;
        margin-left: auto;
        margin-right: 0;
    }

    
    .btn{
      border-color: black;
      color:rgb(54, 109, 97);
    }

    .btn:hover{
      background-color:rgb(54, 109, 97);
      border-color: black;
    }
    li:hover{
      background-color: rgb(54, 109, 97);
    }
    
</style>


<body class=" mb-2  text-white d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg " style="background-color: black;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="background-color:rgb(54, 109, 97); color: rgb(141, 137, 137); padding-left: 5px;padding-right: 5px;">BULL'S YARD</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/" style="color: rgb(141, 137, 137)">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="departments.html" style="color: rgb(141, 137, 137)">Departments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="engineering.html" style="color: rgb(141, 137, 137)">Majors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="courses.html" style="color: rgb(141, 137, 137)">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="professors.html" style="color: rgb(141, 137, 137)">Professors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="tutors.html" style="color: rgb(141, 137, 137)">Tutors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="clubs.html" style="color: rgb(141, 137, 137)">Clubs</a>
          </li>
          
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


    <div style="margin-left: 100px;">
      <div style="margin-left:300px; margin-top:40px; color:rgb(54, 109, 97)"><h2>Find yourself a tutor or apply to be one !</h2></div>

        <div class="tutor-description">
            <img src="http://goodtutorsfinder.com/wp-content/uploads/2019/01/Red-head-tutor-light-crop.png" alt="Tutor Image">
            <p class="description">Hey, I am Alice. I've been a tutor for 2 years. I took this course back in 2020 and got an A+ in it. Feel free to send me a meassage.</p>
            <p class="description">Class offered: COT 3100
                <br>
                Rate: $8.00/hr
            </p>
            <a href="#">
              <button type="button" class="btn btn-outline-info">Message</button>
          </a>
        </div>

        <div class="tutor-description">
            <img src="https://qph.fs.quoracdn.net/main-qimg-30b23c1674592aa8a97cee7c41fe240d-lq" alt="Tutor Image">
            <p class="description">Hey, I am Henery. I've been a tutor for a year. I took this course back in 2021 and got an A in it. Dont hesitate to contact me</p>
            <p class="description">Class offered: COP 2510
            <p class="description">Rate: $6.00/hr</p>
            <a href="#">
              <button type="button" class="btn btn-outline-info">Message</button>
          </a>
        </div>

        <div class="tutor-description">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJNe-NCD6_2Tt9YnytSg87-Nig1iW-3i-BwQ&usqp=CAU" alt="Tutor Image">
            
                <p class="description">Hey, I am Mike. I was interesed in tutoring ever since I was young. I am passionate about tutoring and CS, therefore I think I make a great tutor</p>
                <p class="description">Class offered: COP 4530
                <p class="description">Rate: $10.00/hr</p>
                <a href="#">
                  <button type="button" class="btn btn-outline-info">Message</button>
              </a>
            </div>
        </div>
    </div>
    

</body>

<footer class="mt-auto .bg-dark .text-white .btn-outline-light .form-white text-center">
    <p>© 2022 USF Course Selector: Hackabull 2022</p>
</footer>
</html>